@{ 
    ViewData["Title"] = "Texter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Awesome Text Messagging App!</h2>
<hr />
@Html.ActionLink("View all Messages", "GetMessages")  |  @Html.ActionLink("Send a new message", "SendMessage")
<br /><br />
@Html.ActionLink("Create a New Contact", "CreateContact")  | @Html.ActionLink("View All Contacts", "ContactList")