@{
    ViewData["Title"] = "Texter - Send Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Texter.Models.Message

<h2>Send a new message</h2>
<hr />

<form method="post" asp-action="SendMessage">
    <label for="to">To: ViewBag.Contact.Name </label>
    <input type="text" id="to" name="to" value=ViewBag.Contact />

    <label for="from">From: </label>
    <input type="text" id="from" name="from"  />

    <label for="body">Body: </label>
    <input type="text" id="body" name="body"  />

    <input type="hidden" id="status" name="status"/>

    <button class="btn waves-effect" type="submit">Create</button>
</form>




